@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="text-primary mb-3">HOME</h1>
    <img class="img-fluid rounded-lg" src="https://static.sky.it/images/skysport/it/motori/formula-1/2022/02/17/ferrari-formula-1-foto-presentazione/ferrari_13.jpg" />
</div>
